html{
    overflow-x:hidden;
}

.andy{
    width:100%;
}

button:focus {
    outline:0;
}

h1, h2, h3, h4, h5, p{
    font-family:'Montserrat', sans-serif;
}

.container-fluid{
    width:100%;
}

ul.navbar {
    list-style-type: none;
    margin-bottom: 0px;
    padding:0px;
}

img.logo{
    width: 160px;
}

header .secondheader{
    background-color:#FFC000;
}

div.nav-logo{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    background-color:white;
}

.navbar a{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}

.navbar a.nav-link{
    pointer-events: none;
}

.navbar a:hover{
    color:#FFF5B0;
}

div.nopadding{
    padding:0px;
}

.form-inline.fullwidth {
    width:100%;
    margin-top: 5px;
}

.form-inline.fullwidth .form-control {
    width: 90%;
}

.form-control.own, .btn.own {
    border-radius:0rem;
}

.btn.own {
    background-color:#FFC000;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

img.search{
    width: 27px;
}

.form-control.own::placeholder{
    color:#C0C7C3;
}

.form-control.own:focus {
    border-color:#FFC000;
    box-shadow:none;
}

.nav-header-tel img{
    float:left;
    width:35px;
    margin-right: 10px;
}

.nav-header-tel{
    padding:0px;
    padding-top: 13px;
}

.nav-header-tel h3{
    font-size:20px;
    margin-top: -2px;

}

.nav-header-tel img:hover{
    cursor: default;
}

.nav-header-tel p{
    font-size: 10px;
    padding-left: 50px;
    margin-top: -10px;
}

.btn.login{
    background-color:transparent;
}

img.login{
    width:30px;
    margin-top:5px;
}

.login p{
    font-size: 15px;
    color: #FFC000;
    margin-bottom: 0px;
    font-weight: 700;
    margin-top: -4px;
}

.nav-header-login .col-md-1{
    padding:0px;
}

.dropdown-menu.show{
    top: 88px;
    left: -96px;
    transform:none;
}

.login.dropdown-toggle::after{
    content:none;
}

.login.dropdown-toggle:focus, .login.dropdown-toggle{
    border:none;
    box-shadow:none;
}

.login.dropdown-toggle{
    background-color:#FFF5B0;
    border-radius:0px;
    padding-bottom: 5px;
    padding-left: 17px;
}

.dropdown{
    position: absolute;
    right: 0px;
    top: 0px;
}

img.sliderpic{
    width:100%;
}

.carousel-control-next, .carousel-control-prev {
    width:10%;
    opacity: 0.7;
}

.carousel-control-next-icon {
    background-image: url(../img/next.png);
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon {
    background-image: url(../img/prev.png);
    width: 50px;
    height: 50px;
}

.carousel-caption {
    bottom: 30px;
}

.carousel-caption.motorradcap {
    text-align:left;
    width:400px;
    left: 10%;
}

.carousel-caption.mopedcap {
    text-align: left;
    top: 85px;
    width: 500px;
    left: 10%;
    color: black;
}

.btn.vergleich{
    background-color:#FFC000;
    color:white;
}

button.btn{
    font-weight:500;
}

button.btn:focus{
    border:none;
    box-shadow:none;
}

.btn.vergleich:hover{
    color:black;
}

.carousel-indicators li{
    width: 45px;
}

h2.align_center{
    color:#FFC000;
    margin-bottom:40px;
    font-size:34px;
    margin-top:60px;
}

h2.align_center.margmin{
    margin-top:30px;
    margin-bottom:50px;
}

.align_center{
    text-align:center;
}

.learnmore{
    background-color: #FFF5B0;
    color:#FFC000;
}

.carousel-caption {
    position: absolute;
    right: 50px;
    top: 50px;
    left: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    width: 445px;
}

.learnmore{
    margin-top:15px;
}

.learnmore:hover{
    background:#FFC000;
    color:white;
}

.calculate .btn{
    background-color:white;
    color:#FFC000;
    border:1px solid #FFC000;
}

.calculate .btn:hover{
    background:#FFC000;
    color:white;
}

.calculate h5{
    font-size: 20px;
}

.calculate p{
    font-size:15px;
}

.card{
    background-color:#FFF5B0; 
    border: 1px solid rgba(255,192,0,.5);
    text-align:center;
}

.calculate h2{
    margin-bottom: 50px;
    margin-top: 90px;
}

.peach{
    background-color:rgba(255, 251, 58, 0.15);
    margin-top:90px;
    padding-bottom:30px;
    margin-bottom:50px;
}

.interesting.crop{
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}

.date{
    font-size:12px;
}

hr{
    border-top: 1px solid rgba(0,0,0,.4);
}

.interesting .btn{
    color:white;
    background: #FFEE86;
    margin-top:20px;
}

.interesting .btn:hover{
    background:#ffc000;
    color:white;
}

.copyright{
    margin-bottom:0px;
    font-size:12px;
    padding-left: 5px;
    padding-top: 2px;
    text-align: center;
    width: 100%;
}

.footercopy{
    background-color:#ffc000;
    height:20px;
}

.footerinsta{
    height:50px;
}

.footerlogo{
    width:130px;
    margin-top: 4px;
}

.footerinsta .col-md-4{
    padding:0px;
}

.footernav .nav-link{
    float:left;
    padding:0px;
    margin-top: 15px;
    position: relative;
    left: 75px;
    color:black;
}

.footernav .nav-link:hover{
    color:#ffc000;
}

.footernav .nav-link:first-of-type{
    padding-right:20px;
    border-right:1px solid rgba(0,0,0,.7);
}

.footernav .nav-link:nth-of-type(2){
    padding-right:20px;
    padding-left:20px;
    border-right:1px solid rgba(0,0,0,.7);
}

.footernav .nav-link:last-of-type{
    padding-left:20px;
}

footer{
    font-family: 'Montserrat', sans-serif;
}

.socialmed{
    float: right;
    margin-top: 12px;
    width: 28px;
    margin-right: 10px;
}

footer img:hover, header img:hover{
    cursor: pointer;
}

.navdrop {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a{
    color:rgba(0, 0, 0, 0.8);
    padding-left:15px;
    padding-right:50px;
    padding-bottom:15px;
    float:left;
    line-height: 1.2;
}

.navbar .dropdown-content a:first-of-type{
    padding-top:15px;
}

.navdrop:hover .dropdown-content {
    display: block;
}

.navbar .dropdown-content a:hover{
    text-decoration:none;
    color:#ffc000;
}

ul.navbar li:nth-of-type(5) .dropdown-content{
    width:120px;
}

/* ----------------------------- unterseite css ------------------------------- */

.car_bg{
    width:100%;
}

.caption{
    width: 500px;
    color: white;
    text-align: right;
    position: absolute;
    top: 150px;
    right: 50px;
}

.kontaktaufnahme h3{
    color:#ffc000;
}

.kontaktaufnahme{
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}

/*------------------------------- kontakt --------------------------*/

iframe{
    width:100%;
}

.align_left{
    color: #FFC000;
    margin-bottom: 20px;
    font-size: 34px;
    margin-top: 60px;
}

.map_card{
    background-color: rgba(255, 251, 58, 0.15);
}

.orange_border{
    border: 1px solid #FFC000;
}

.nopad{
    padding-right:0px;
    padding-left: 0px;
}

.extrapad{
    padding-left:30px;
    padding-right:30px;
}

small {
    font-size: 80%;
    position: absolute;
    right: 1px;
    top: 0px;
    background-color: rgba(255,255,255,0.7);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

.kontakt_space{
    margin-right: 35px;
    margin-bottom: 85px;
    margin-left: 0px;
}

.kontakt_p{
    margin:0px;
}

.left{
    width:20%;
    float:left;
    margin-top: 20px;
}

.right{
    width:80%;
    float:left;
    text-align:right;
    margin-top: 20px;
}

.socialmed2{
    margin-top: 12px;
    width: 28px;
    margin-right: 10px;
}

h4{
    font-size: 20px;
    color: #FFC000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.soci{
    position:absolute;
    bottom:10px;
    right:7px;
}

/*----------------------------------- bedarf ------------------------------*/

#bedarf{
    width: 100%;
    height: 100%;
}

.bedarf{
    padding:0px;
}

.min_mar{
    position:absolute;
}
/*---------------------------------- datenschutz ---------------------------*/

.orange{
    color:#FFC000;
}

h2.orange{
    font-size:28px;
    margin-bottom: 15px;
    margin-top: 40px;
}

h3.orange{
    font-size: 20px;
    color: black;
    margin-top: 25px;
}

.datenschutz p{
    font-size:15px;
    margin-bottom: 12px;
}

.row.datenschutz{
    padding-left:30px;
    padding-right:30px;
}

.row.datenschutz li{
    list-style-type: circle;
}

#auto_btn {
    margin-top: 22px;
}

.vergleich2 a{
    color: #FFC000;
}

.vergleich2 a:hover{
    color:white;
    text-decoration:none;
}

.vergleich2:hover a{
    color:white;
}

.vergleich a{
    color:white;
}

.vergleich a:hover{
    color:black;
    text-decoration:none;
}

.vergleich:hover a{
    color:black;
}

/*------------------------------- responsive --------------------------------*/

@media (min-width:1200px){
    .container{
        padding-left:100px;
        padding-right:100px;
    }
}

@media (max-width:1200px){
    .nav-header-tel h3 {
        font-size: 18px;
    }

    .nav-header-tel p {
        font-size: 9px;
    }

    .login.dropdown-toggle {
        padding-bottom: 2px;
    }

    ul.navbar {
        font-size: 14px;
    }

    .form-inline.fullwidth .form-control {
        width: 80%;
    }

    .footerinsta {
        font-size: 15px;
    }

    .footernav .nav-link:first-of-type {
        padding-right: 10px;
    }

    .footernav .nav-link:nth-of-type(2) {
        padding-right: 10px;
        padding-left: 10px;
    }

    .footernav .nav-link:last-of-type {
        padding-left: 10px;
    }

    #auto_btn{
        margin-top: 22px;
    }

    h2.align_center {
        margin-bottom: 20px;
        font-size: 28px;
        margin-top: 40px;
    }

    h1{
        font-size:16px !important;
    }
}


@media (max-width:992px){

    img.logo {
        width: 130px;
        padding-top: 2px;
    }

    .login.dropdown-toggle {
        padding-top: 4px;
    }

    .nav-link {
        padding: 5px 10px;
    }

    .form-inline.fullwidth .form-control {
        font-size: 12px;
    }
  
    h5 {
        font-size: 18px;
    }

    p{
        font-size: 13px;
    }

    h2.align_center {
        font-size: 24px;
    }

    ul {
        font-size: 13px;
    }

    button {
        font-size: 14px;
    }

    .calculate h5 {
        font-size: 17px;
    }

    .calculate p {
        font-size: 13px;
    }

    #auto_btn {
        margin-top: 18px;
    }

    .card{
        width: 225px !important;
    }

    .card-body {
        padding: 8px;
    }
    
    .interesting.crop {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footernav .nav-link {
        left: 55px;
    }

    .nav-header-tel img {
        width: 30px;
        margin-right: 10px;
    }

    .nav-header-tel p {
        padding-left: 40px;
    }

    .form-inline.fullwidth {
        margin-top: 2px;
    }

    .footerinsta {
        font-size: 14px;
    }

    .big{
        display:none;
    }

    .small{
        display: block !important;
        background-color:#FFC000;
    }

    nav.navbar{
        height:60px;
    }

    .navbar-toggler{
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .navbar-dark .navbar-toggler {
        color: white;
        border-color: white;
    }

    .navbar-collapse {
    z-index: 5;
    width: 215px;
    position: absolute;
    top: 60px;
    right: -15px;
    background-color: rgba(256,256,256,0.7);
    border-radius:15px;
    }

    .navbar a {
        color: black;
    }

    .navbar a:hover {
        color: black;
        background-color:white;
        border-radius: 15px;
    }

    .navdrop {
        text-align:center;
        width: 100%;
    }

    .dropdown-content {
        z-index: 5;
        left: -225px;
        top: 0px;
        max-width: 225px;
        border-radius:15px;
    }

    .navbar .dropdown-content a {
        padding-right:0px;
        padding-left:0px;
        width: 100%;
    }

    .navbar .dropdown-content a:hover {
        color: #FFC000;
    }

    .carousel-indicators {
        z-index: 4;
    }

    li:nth-of-type(2) .dropdown-content {
        top:-31px;
    }

    li:nth-of-type(3) .dropdown-content {
        top:-62px;
    }

    li:nth-of-type(4) .dropdown-content {
        top:-93px;
    }

    li:nth-of-type(5) .dropdown-content {
        top:-124px;
    }

    div.nav-logo {
        background-color: transparent;
        width: 150px;
        float: left;
        padding-top: 6px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    img.logo {
        width: 175px;
        padding-top: 0px;
        margin-top: -5px;
        margin-left: -10px;
    }

    h2.orange, h3 {
        font-size: 24px;
    }

    .datenschutz p {
        font-size: 13px;
    }

    h3.orange {
        font-size: 18px;
    }

    .datenschutz h2:first-of-type{
        font-size: 30px !important;
    }

    ._car .caption{
        top: 120px !important;
        width: 400px;
    }

    iframe, .kontakt_space .nopad{
        height: 280px !important;
    }
}

@media (max-width:768px){
    .card {
        width: 70%!important;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 50px;
    }

    .calculate:nth-of-type(2) .card{
        margin-top: 20px;
    }

    #auto_btn {
        margin-top: 0px;
    }

    .peach {
        margin-top: 50px;
    }

    h2.align_center {
        margin-top: 50px;
    }

    .interesting.crop {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .interesting .btn {
        margin-top: 10px;
        margin-bottom: 65px;
    }

    .interesting:last-of-type .btn{
        margin-bottom:20px;
    }

    .big2{
        display:none;
    }

    .small2{
        display:block !important;
    }

    .footernav .nav-link {
        left: 0px;
        font-size: 14px;
    }

    .footernav .nav-link:first-of-type {
        padding-right: 12px;
    }

    .footernav .nav-link:nth-of-type(2) {
        padding-right: 12px;
        padding-left: 12px;
    }

    .footernav .nav-link:last-of-type {
        padding-left: 12px;
    }

    .footsmall{
        background-color: #FFEE86;
    }

    .footerlogo {
        margin-top: 0px;
    }

    .socialmed {
        margin-top: 4px;
        width: 31px;
        margin-right: 13px;
    }

    .padleft{
        padding-left: 12%;
    }

    ._car .caption {
        top: 75px !important;
        left:30px !important;
    }

    .btn.vergleich {
        font-size: 14px;
        padding: 3px;
    }

    .map_card .socialmed {
        margin-top: 9px;
    }
}

@media (max-width:576px){
    .navbar-collapse {
        width: 185px;
    }

    .dropdown-content {
        left: -180px;
        max-width: 180px;
    }

    .nav-item a{
        font-size: 12px;
    }

    .padleft {
        padding-left: 17%;
    }

    .col-xs-6{
        width:50%;
    }

    .col-xs-0{
        display:none;
    }

    img.logo {
        width: 160px;
        margin-top: 0px;
    }

    h5 {
        font-size: 16px;
    }

    ._car .caption {
        top: 70px !important;
        left: 15px !important;
        width: 380px;
    }

    ._car p {
        font-size: 11px;
        margin-bottom: 8px;
    }

    iframe, .kontakt_space .nopad {
    height: 210px !important;
    }

    .map_card .soci{
        position:relative;
        float: right;
        margin-right: -15px;
    }

    .map_card .socialmed {
        margin-top: 11px;
        float:left;
        width: 28px;
    }

    .right, .left{
        margin-bottom: 20px;
    }

    .col-xs-5{
        width:41.66%;
    }

    .col-xs-7{
        width:58.33%;
    }
}

@media (max-width:400px){
    .navbar-collapse {
        background-color: #FFEE86;
        border-radius: 0px;
        width:150px;
    }

    .navbar-collapse a:hover {
        color: #FFC000;
    }

    .navbar a:hover {
        border-radius: 0px;
    }
    
    .dropdown-content {
        border-radius: 0px;
    }

    .navbar a{
        font-weight:bold;
    }
    
    li:nth-of-type(2) .dropdown-content {
        top: -28px;
    }

    li:nth-of-type(3) .dropdown-content {
        top: -56px;
    }

    li:nth-of-type(4) .dropdown-content {
        top: -84px;
    }

    li:nth-of-type(5) .dropdown-content {
        top: -112px;
    }

    .padleft {
        padding-left: 15px;
    }

    .footernav .nav-link {
        width: 33.33%;
    }

    .footernav .nav-link:first-of-type {
        padding-left: 0px;
    }

    .footernav .nav-link:nth-of-type(2) {
        padding-left: 10px;
    }

    .footernav .nav-link:last-of-type {
        padding-left: 10px;
    }

    .footerlogo {
        width: 110px;
    }

    .socialmed {
        margin-top: 4px;
        width: 25px;
        margin-right: 12px;
    }

    nav.navbar {
        height: 40px;
    }

    img.logo {
        width: 135px;
        margin-top: -7px;
    }

    button.navbar-toggler{
        width: 40px;
        height: 32px;
        margin-top: -6px;
        margin-right: -20px;
        padding: 0px;
    }

    .navbar-collapse {
        top: 40px;
    }

    .welcome ul{
        margin-left: 25% !important;
    }

    h2.align_center {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2.align_center {
        font-size: 20px;
    }

    h1 {
        font-size: 13px !important;
    }

    button.btn {
        font-size: 14px;
    }

    .carousel-indicators li {
        width: 60px;
    }

    ul.carousel-indicators{
        margin-bottom:0px;
    }

    h2.orange, h3 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    h3.orange {
        font-size: 16px;
    }

    .datenschutz h2:first-of-type {
        font-size: 28px !important;
    }

    .datenschutz p {
        margin-bottom: 8px;
    }

    .datenschutz p:last-of-type{
        margin-bottom: 20px !important;
    }

    ._car .caption p{
        display:none;
    }

    ._car h5{
        margin-bottom: 3px;
    }

    .container .kontaktaufnahme, .kontaktaufnahme h3{
            margin-top: 20px;
    }

    ._car .caption {
        text-align:left;
        left: 30%!important;
    }
}